{% extends "layout.html" %}
{% block head_js %}
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script type="module" defer src={{ url_for("static", filename="js/chart.js") }}></script>
    <script defer src={{ url_for("static", filename="js/stratStatusBox.js") }}></script>
    <script type="module" defer src={{ url_for("static", filename="js/userStream.js") }}></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="chartbox">

                </div>
            </div>
            <div class="col">
                <table class="table table-sm" id="ohlcTable">
                    <thead>
                        <th>OPEN</th>
                        <th>HIGH</th>
                        <th>LOW</th>
                        <th>CLOSE</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="container" id="stratOverviewBox">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead id="bullStratBoxHead">
                        <tr>
                            <th>RSI is Bullish</th>
                            <th>Low swept SMA</th>
                            <th>Bull trend</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
                <table class="table">
                    <thead id="bearStratBoxHead">
                        <tr>
                            <th>RSI is Bearish</th>
                            <th>High swept SMA</th>
                            <th>Bear trend</th>
                        </tr>
                    </thead>
                    <tr>

                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}